.box {
    padding: 25px 0;
}

.box-all {
    padding: 25px;
}

.panel-messages {
    border: 0;
}

.panel-messages .panel-heading, .panel-messages .panel-footer {
    border-radius: 0;
}

.panel-messages .panel-body {
    padding: 0 15px;
}

@media (max-width: 768px) {

    .btn-group-messages {
        margin: 10px 0;
    }
}

.message-link-wrapper {
    padding: 15px 0;
    color: #3c3c3c;
    font-weight: 600;
    border-bottom: 1px solid #CCCCCC;
}

.message-link-wrapper:last-child {
    border-bottom: 0;
}

.message-link-wrapper.read {
    background-color: #FFFFFF;
    border-left: 2px solid #CCCCCC;
}

.message-link-wrapper.unread {
    background-color: #f8f8ff;
    border-left: 2px solid #16A085;
}

@media (max-width: 768px) {

    .message-link-wrapper {
        padding: 15px;
    }

    .message-link-wrapper .message-col {
        margin-top: 3px;
        padding: 5px 0;
    }
}
