#page-wrapper {
    padding-bottom: 30px;
}

.box {
    padding: 25px 0;
}

.box-min {
    padding: 10px 0;
}

.top-header {
    padding: 25px 0 10px 0;
}

.sub-header {
    padding-bottom: 9px;
    border-bottom: 1px solid #dddddd;
}

.box-all {
    padding: 25px;
}

footer {
    padding: 30px 0;
    background-color: #f8f8f8;
}

.resize {
    resize: none;
}

/* dropdowns*/
.navbar-top-links .dropdown-menu.dropdown-alerts .divider {
    margin: 0;
}

/* scaffolding*/
/* buttons  */
.btn, .btn-group-lg > .btn, .btn-group-sm > .btn, .btn-group-xs > .btn, .btn-lg, .btn-sm, .btn-xs {
    border-radius: 0;
}

/* forms */
.form-control, .input-group-addon {
    border-radius: 0;
}

.form-group {
    margin-bottom: 20px;
}

.navbar-top-links li a {
    padding: 15px 10px;
}