body {
    /*min-height: 75rem; !* Can be removed; just added for demo purposes *!*/
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron.bg {
    color: #EEEEEE;
    min-height: 800px;
    background-size: 100% 100%;
    background: no-repeat center center fixed;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron .h1, .jumbotron h1 {
    font-size: 3.5rem;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron-text {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
}

.jumbotron-buttons {
    padding: 10px;
    position: relative;
    top: 100px;
    transform: translate(0%, 100%);
}

.jumbotron .container {
    max-width: 40rem;
}

.album {
    /*min-height: 50rem; !* Can be removed; just added for demo purposes *!*/
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
}

.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.thumbnail {
    padding: 0;
    border: 0;
    border-radius: 0;
    position: relative;
}

.thumbnail:focus, .thumbnail:hover {
    background: #eee8d5;
}

.thumbnail > img {
    margin-bottom: 2rem;
}

.thumbnail > .expand {
    top: 10px;
    position: absolute;
    right: 10px;
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.6);
    padding: 5px 10px;
}

.thumbnail .caption {
    margin: 4px;
}

@media (max-width: 767px) {
    .thumbnail .caption > h3 {
        font-size: 14px;
        margin-top: 10px;
    }
}

.caption p {
    font-size: 85%;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}