body {
    background: #34495E none;
    font-family: 'Lato', sans-serif;
    color: white;
}

html {
    height: 100%;
}

#content {
    text-align: center;
    padding-top: 10%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
    #content {
        padding-top: 20%;
    }
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

@media (max-width: 767px) {
    h1 {
        font-weight: 700;
        font-size: 4em;
    }
}

hr {
    width: 52%;
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
    hr {
        width: 90%;
    }
}

.navbar-default {
    background-color: #2c3e50;
    border-bottom: 1px solid transparent;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: #34495E;
    color: white;
}

.navbar-default .navbar-nav > li.active > a {
    background-color: #34495E;
    color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #34495E;
    color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #34495E;
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 2em;
}

.dropdown-menu {
    border: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #2c3e50;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #cccccc;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #FFFFFF;
        background-color: transparent;
    }
}

#content .btn.btn-primary {
    background-color: #2c3e50;
    color: white;
    border: 1px solid #2c3e50;
    border-radius: 0;
    box-shadow: 0 0 5px #2c3e50;
    text-shadow: none;
}

#content .btn.btn-primary:hover {
    background-color: #1f648b;
    border: 1px solid transparent;
    box-shadow: 0 0 5px #2c3e50;
    color: white;
}

#banner {
    padding-top: 20px;
    text-shadow: none;
    width: 52%;
    -webkit-transform: translate(48%, 0);
    -moz-transform: translate(48%, 0);
    -ms-transform: translate(48%, 0);
    -o-transform: translate(48%, 0);
    transform: translate(48%, 0);
    border-radius: 100%;
    position: relative;
}

@media (max-width: 767px) {
    #banner {
        transform: none;
        width: 100%;
    }

    #banner .fa-2x {
        font-size: 1.703em;
    }
}

.text-primary {
    color: #FFF;
}

.text-icon {
    color: #2C3E50;
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

@media (max-width: 767px) {
    .service-heading {
        font-size: 16px;
    }
}

#tag {
    text-align: center;
    font-style: italic;
}

@media (max-width: 767px) {
    #tag {
        text-align: center;
        width: 100%;
    }
}
