body {
    background-size: cover;
    background: url("../../images/site/v1/landing/44.jpg") center;
    font-family: 'Lato', sans-serif;
    color: white;
}

html {
    height: 100%;
}

#content {
    text-align: center;
    padding-top: 20%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

hr {
    width: 30%;
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar-default {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid transparent;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.navbar-default .navbar-nav > li.active > a {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 2em;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #2c3e50
}

#content .btn.btn-primary {
    background-color: #2c3e50;
    color: white;
    border: 1px solid #2c3e50;
    border-radius: 0;
    box-shadow: 0 0 5px #2c3e50;
    text-shadow: none;
}

#content .btn.btn-primary:hover {
    background-color: #1f648b;
    border: 1px solid transparent;
    box-shadow: 0 0 5px #2c3e50;
    color: white;
}
