/* Move down content because we have a fixed navbar that is 50px tall */

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /*padding-top: 100px;*/
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}

.box {
    padding-top: 20px;
    padding-bottom: 20px;
}

.box-all {
    padding: 20px;
}

#footer {
    padding: 20px 0;
    background-color: #e0e0e0;
}

#footer ul {
    padding-left: 0;
    list-style: none;
}

#footer ul a {
    display: block;
    padding: 9px 0;
    color: #999999;
}

#footer .social {
    text-align: left;
}

#footer .social a {
    margin: 0 10px 0 0;
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    line-height: 26px;
    font-size: 15px;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    vertical-align: bottom;
    background-color: #555555;
}

#footer .social a i {
    vertical-align: bottom;
    line-height: 30px;
}

#footer .social a.facebook:hover {
    background-color: #4460ae;
}

#footer .social a.gplus:hover {
    background-color: #c21f25;
}

#footer .social a.twitter:hover {
    background-color: #3cf;
}

#footer .social a.instagram:hover {
    background-color: #cd4378;
}

#footer .social a.email:hover {
    background-color: #4a7f45;
}

#copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    color: #cccccc;
    background-color: #333333;
    /* Set the fixed height of the footer here */
    margin-top: 50px;
    padding: 20px;
    height: 50px;
}

#copyright p {
    margin: 0;
}

#copyright #links a {
    margin-right: 5px;
    color: #eeeeee;
}

@media (max-width: 991px) {
    #copyright p {
        float: none !important;
        text-align: center;
        margin-bottom: 10px;
    }
}

/**  Sections */
.section {
    margin: 0 0 30px;
    /*border: solid 1px #e6e6e6;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    /*-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);*/
    /*box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);*/
}

.section-blank {
    padding: 50px;
}

.section-pad {
    padding: 25px 50px;
    margin-bottom: 50px;
    background-color: #FFFFFF;
}

.section .section-header, .section-pad .section-header {
    background: #f7f7f7;
    margin: -20px -20px 20px;
    padding: 20px;
    border-bottom: solid 1px #eeeeee;
}

.section .section-footer, .section-pad .section-footer {
    background: #f7f7f7;
    margin: 30px -20px -20px;
    padding: 20px;
    border-top: solid 1px #eeeeee;
}

.section-top {
    margin-top: 50px;
}

.section-btm {
    margin-bottom: 50px;
}

@media (max-width: 991px) {
    .section .section-footer .btn {
        margin-bottom: 20px;
    }
}

